<h1>Posts</h1>

<%= form_with url: posts_path, method: :get, local: true do |form| %>
  <%= form.label :author_name, "Search by Author:" %>
  <%= form.text_field :author_name, value: params[:author_name] %>
  <%= form.submit "Search" %>
<% end %><br>

<%= button_to "Clear Search", posts_path, method: :get %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %><br>
      Creator: <%= post.user.name %><br>
      <%= post.comments.size %> Comments<br>
      Last Updated: <%= post.updated_at.strftime("%B %d, %Y %H:%M") %>
    </li>
  <% end %>
</ul>

<%= button_to "New Post", new_post_path, method: :get %><br>

<%= button_to "Log Out", logout_path, method: :get %>